
#content { margin:50px 0; }

#content p { display:inline-block; }
#content p.all-width { width:100%; }

#content input,
#content label,
#content select { width:100%; }

#content ul { list-style:none; }
#content ul ul { list-style:square; }
#content ul ul ul { list-style:none; }
#content li { border-top:1px dashed #999; }

#content span.delete { float:right; margin:5px 0 0; }
#content span.view { float:right; margin:5px 0 0 5px; }

.navbar-fixed-bottom
{
  background: #2C2C2C;
  bottom: 0;
  left: 0;
  margin:0;
  padding: 6px 0 6px 250px;
  position: fixed;
  width: 100%;
}